@import '../node_modules/font-awesome/css/font-awesome.min.css'

@import '../node_modules/bulma/sass/utilities/initial-variables'
@import '../node_modules/bulma/sass/utilities/functions'

$primary: #282c34
$dark: #14161a

@import '../node_modules/bulma/sass/utilities/derived-variables'

@import '../node_modules/bulma/bulma'

html
    height: 100%
    overflow: hidden

.has-navbar-fixed-bottom
    padding-bottom: 2em !important

body
    height: 100%

#root
    height: 100%

.App
    height: 100%

.AppColumns
    height: 100%

.Sidenav
    min-width: 150px !important
    background-color: #e0e0e0
    height: 100%

.Footer
    min-height: 2em
    max-height: 2em