@import '../node_modules/font-awesome/css/font-awesome.min.css'

@import '../node_modules/bulma/sass/utilities/initial-variables'
@import '../node_modules/bulma/sass/utilities/functions'

$primary: #282c34
$dark: #14161a

$header-height: 45px
$footer-height: 25px

@import '../node_modules/bulma/sass/utilities/derived-variables'

@import '../node_modules/bulma/bulma'

html
    height: 100%
    overflow: hidden

body
    height: 100%

#root
    height: 100%

.has-navbar-fixed-top
    padding-top: $header-height !important

.has-navbar-fixed-bottom
    padding-bottom: $footer-height !important

.navbar-brand
    min-height: $header-height
    max-height: $header-height 

.is-fullheight
    min-height: 100% !important
    height: 100% 

.Sidenav
    min-width: 200px !important
    background-color: #e0e0e0
    border-right: 1px solid #d5d5d5
    height: 100%
    .menu-label
        font-weight: bolder
        color: $link
    .menu-list
        .icon
            padding-right: 10px

.Nav
    min-height: $header-height
    max-height: $header-height 

.Footer
    min-height: $footer-height
    max-height: $footer-height
    font-size: smaller

.SignIn
    &.hero
        background: #f2f6fa
        .box
            margin-top: 5rem
            //background: #e0e0e0
        .avatar 
            margin-top: -70px
            padding-bottom: 20px
            img 
                padding: 5px
                background: #fff
                border-radius: 50%
                -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1)
                box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1)
        input
            font-size: 21px
            font-weight: 300